@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fafafa;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.nav {
  display: flex;
  background-color: #fff;
  padding: 20px 15%;
  align-items: center;
  gap: 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border-bottom: 2px solid #e8e8e8;
}

.main-title {
  width: 15rem;
  height: 2.313rem;
  font-size: 1.875rem;
  font-weight: bold;
  letter-spacing: normal;
  color: #018aff;
}

.links-container {
  display: flex;
  gap: 40px;
}

.books-link .categories-link {
  width: 3.688rem;
  height: 1rem;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

